# 源码
src/
lib/
*.ts
!*.d.ts

# 开发文件
.git/
.github/
.gitignore
.npmrc
.npmignore
node_modules/
*.log
*.tgz
package-lock.json
vite.config.e2e.ts
vite.config.ts
vite.config.lib.ts

# 配置文件
tsconfig.json
rollup.config.js
.editorconfig
.env
.eslintrc.js
playwright.config.ts

# IDE文件
.vscode/
.idea/
*.swp
*.swo

# 测试
test/
__tests__/
coverage/

# 忽略 examples_dist 文件夹
examples_dist/

# 忽略html
*.html
